<?xml version="1.0"?>
<!--
    niryo_one.urdf.xacro
    Copyright (C) 2017 Niryo
    All rights reserved.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="simple_box">
  <link name="box_1">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1" />
      <inertia  ixx="100" ixy="0.0"  ixz="0.0"  iyy="0.1"  iyz="0.0"  izz="0.1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 0.15" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="0.15 0.15 0.15" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="box_1">
    <material>Gazebo/Blue</material>
    
  </gazebo>
</robot>