<?xml version="1.0"?>
<!--
    niryo_one.urdf.xacro
    Copyright (C) 2018 Niryo
    All rights reserved.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="niryo_one">

  <gazebo reference="ground_link">
		<material>Gazebo/Black</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

  <gazebo reference="base_link">
		<material>>Gazebo/Black</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>
    
  <gazebo reference="shoulder_link">
		<material>Gazebo/Black</material>

		<turnGravityOff>true</turnGravityOff>

	</gazebo>
    
  <gazebo reference="arm_link">
		<material>Gazebo/Blue</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

  <gazebo reference="elbow_link">
		<material>Gazebo/Black</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

  <gazebo reference="forearm_link">
		<material>Gazebo/Blue</material>

		<turnGravityOff>true</turnGravityOff>
	</gazebo>

  <gazebo reference="wrist_link">
		<material>Gazebo/Black</material>

		<turnGravityOff>true</turnGravityOff>
	</gazebo>

  <gazebo reference="hand_link">
		<material>Gazebo/Blue</material>

		<turnGravityOff>true</turnGravityOff>
	</gazebo>
	 
	<gazebo reference="gripper_link">
		<material>Gazebo/Black</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

</robot>
