<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="world_name" default="$(find niryo_one_gazebo)/worlds/empty.world"/>
	
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find niryo_one_description)/urdf/v2/gripper.urdf.xacro"/>
    
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load Niryo Tools -->
  <node name="niryo_one_tools" pkg="niryo_one_tools" type="tool_controller.py" output="screen" respawn="false"> 
        <rosparam file="$(find niryo_one_tools)/config/end_effectors.yaml" />
    </node>

  <!-- Load controller settings -->
  <rosparam file="$(find niryo_one_driver)/config/niryo_gripper_controllers.yaml" command="load"/>

  <!-- spawn controllers -->
	<node name="arm_controller_spawner" pkg="controller_manager" type="spawner"  args="joint_state_controller niryo_one_follow_joint_trajectory_controller gazebo_tool_controller" respawn="false" output="screen"/>

  <!-- robot state publisher -->
	<node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<remap from="joint_states" to="/niryo_one/joint_states" />
	</node>


	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" output="screen" args="-urdf -model niryo -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>
</launch>
