<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="Y_ori" default="0.0"/>
  <arg name="without_gripper" default="true"/>
  <arg name="world_name" default="$(find niryo_one_gazebo)/worlds/empty.world"/>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <include file="$(find niryo_one_gazebo)/launch/gazebo_niryo_one.launch">
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
    <arg name="Y_ori" value="$(arg Y_ori)"/>
    <arg name="without_gripper" value="$(arg without_gripper)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <group if="$(arg without_gripper)">
  <include file="$(find niryo_one_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  </group>

  <group unless="$(arg without_gripper)">
  <include file="$(find niryo_one_gripper_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
  </group>
</launch>
