<launch>
	<arg name="urdf_file" default="$(find xacro)/xacro '$(find niryo_one_description)/urdf/niryo_one.urdf.xacro'" />
	<arg name="gui" default="true" />

	<param name="robot_description" command="$(arg urdf_file)" />
	<param name="use_gui" value="$(arg gui)" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find niryo_one_description)/config/default_config.rviz" />
</launch>
